<h1>PRODUCT-LIST</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">CHECKBOX</th>
      <th scope="col">S.NO</th>
      <th scope="col">NAME</th>
      <th scope="col">DESCRIPTION</th>
      <th scope="col">PRICE</th>
      <th scope="col">TYPE</th>
    </tr>
  </thead>
  <tbody>
    {{#each products as |product index|}}
      <tr class={{if product.isChecked "row-style" "row-normal"}}>
        <td><input
            type="checkbox"
            onclick={{action "oncheckBoxRowClick" value="target"}}
            value={{product.name}}
            disabled={{if (gt product.price 500) true false}}
          /></td>
        <td>{{inc index}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td> {{product.type}}</td>
        <td>
        {{#if (not (eq product.type "APPAREL"))}}
        <button
              type="button"
              onclick={{action "delete" product}}
            >Delete</button>
          {{/if}}
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{check-out checkedProducts=selectedProducts}}